.navi {
    background: #666;
    color: #fff;
    height: 20px;
    position: relative;
    padding: 10px;

    -moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.5s;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.5s;

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}
/*header ul {*/
    /*list-style: none;*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/
/*header ul li{*/
    /*display: inline-block;*/
    /*margin-right: 20px*/
/*}*/
/*header ul li a{*/
    /*color: #eee;*/
    /*text-decoration: none;*/
}
@-moz-keyframes dropHeader {
    0% {
        -moz-transform: translateY(-40px);
    }
    100% {
        -moz-transform: translateY(0);
    }
}
@-webkit-keyframes dropHeader {
    0% {
        -webkit-transform: translateY(-40px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
@keyframes dropHeader {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0);
    }
}


/* For aesthetics only */