.background-gray{background-color: #E9E9E9; padding: 3% 1% 2% 1%}
.dark-font{color: black}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}
.red-font{color: red}
.background-blue{background-color: #034748;
}
.gold-font{color: #e3b986}
.pillsPadding{padding-bottom: 7%}
.whiteFont{
    color:white;
}
.centered{
    text-align: center;
}
.iconImage{
   width:33px;
    height:33px;
}
.priceSpan{
    color: #b40000;
    font-size: x-large
}
.specialsDiv{
    padding:0 2%;
    background: #ddc03e;
    border-radius: 15px;
    text-align: center;
        /*padding: 20px;*/
        /*width: 200px;*/
        /*height: 150px;*/
}
.border{

    border-radius: 25px;
    border: 2px solid #2d5974;
    padding: 20px;
}
@media(max-width:767px){
    .addMargin{
        margin-top: 4%;
    }
    .lessMargin{
        margin-top: -5%;
    }
    .buttonShow{
        visibility: visible;
    }
}
.checkEngineDiv{
    padding: 3% 0 3% 0;
    margin-top: 2%;
}
.aboutImage{

    border-radius: 25px;
    border: 2px solid #001730;
    padding: 3%;
    background-color: #ddac52;
    margin-bottom: 5%;
}
.iframe-container{
    position: relative;
    width: 100%;
    border: 2px solid #001730;
    /*margin: 2% 2% 2% 2%;*/
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
    /*.edImg{*/
        /*height: 80%;*/
        /*border-radius: 25px;*/
        /*-ms-transform: rotate(90deg); !* IE 9 *!*/
        /*-webkit-transform: rotate(90deg); !* Chrome, Safari, Opera *!*/
        /*transform: rotate(90deg);*/

